.shoppingCart {
  padding-top: 80px;
  margin-bottom: 50px;
  height: 100vh;
  position: relative;
}

.shoppingCart .address {
  color: var(--main-color);
  text-transform: capitalize;
  padding: 10px 20px;
  border: 1px solid var(--grey-color);
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
  font-style: italic;
}

/* products */
.shoppingCart .products {
  margin-bottom: 30px !important;
}

.shoppingCart .products .box {
  height: 30vh !important;
  border: 1px solid rgb(197, 192, 192);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.shoppingCart ul li:last-of-type {
  margin-bottom: 140px !important;
}

.shoppingCart .products .box:hover {
  box-shadow: 5px 5px 5px 5px var(--grey-color);
  background-color: var(--white-color);
}

.shoppingCart .products .box img {
  width: 80%;
  height: 150px;
  position: relative;
  top: 10px;
}

.shoppingCart .products .box .title {
  height: 60px;
  overflow: hidden;
  position: relative;
  top: 40px;
}

.shoppingCart .products .box .quantity input {
  width: 60px;
}

.shoppingCart .products .box .icons button {
  position: relative;
  bottom: 5px !important;
  margin-right: 10px;
  font-size: 30;
}

.shoppingCart .products .box h3,
.shoppingCart .products .box .quantity input,
.shoppingCart .products .box .icons {
  position: relative;
  top: calc(30vh / 3);
  text-transform: capitalize;
}

.shoppingCart .products .box .delete {
  color: red;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(0);
  opacity: 0;
  font-size: 0;
  position: relative;
  bottom: 2px;
}

.shoppingCart .products .box:hover .delete {
  transform: scale(1);
  font-size: 28px;
  opacity: 1;
}

/* total */
.totalBox {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border: 1px solid rgb(197, 192, 192);
  border-radius: 5px;
  background-color: var(--white-color);
  position: fixed;
  bottom: 15px;
  width: 50%;
  left: calc(50% / 2) !important;
  /* (100%-width)/2 */
}

.totalBox:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.totalBox .proceed {
  background-color: var(--main-color);
  height: 60px;
}

.totalBox .proceed a {
  width: 100%;
  height: 100% !important;
  display: inline-block;
  position: relative;
  top: calc(100% / 4);
}

.totalBox h3 {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  position: relative;
  left: 80px;
}

/* responsive */
@media (min-width: 100px) and (max-width: 770px) {
  .shoppingCart .products .box {
    height: 100% !important;
  }
  .shoppingCart .products .box img {
    width: 50%;
    height: 90px !important;
  }

  .shoppingCart .products .box .title {
    height: 55px;
    overflow: hidden;
    margin-bottom: 30%;
  }
  .shoppingCart .products .box .price,
  .shoppingCart .products .box .quantity input {
    position: relative;
    top: 5px;
  }

  .shoppingCart .products .box .icons {
    position: relative;
    top: -6px;
    left: -15px;
  }
}
/* total responsive */
@media (min-width: 100px) and (max-width: 1200px) {
  .totalBox {
    height: fit-content;
    font-size: unset;
    margin: auto !important;
    position: fixed;
    left: calc(50% / 2) !important;
    padding: 10px;
    display: unset;
    text-align: center;
    justify-content: space-evenly !important;
  }
  .totalBox h3 {
    position: relative;
    left: 1px;
    margin-top: 20px;
  }
  .totalBox .proceed a {
    top: 0;
  }
}
