.dark {
  background-color: rgb(92, 88, 88);
  color: var(--white-color);
}
.dark img{
  border-radius: 10px;
}

/* ///////////////// */

.dark .home .shopContainer h4,
.dark .home .shopContainer h1 {
  color: var(--white-color) !important;
}

.dark .home .filtration {
  border: 1px solid var(--white-color) !important;
}

.dark .home .shopContainer .filtration ul li:not(:last-of-type) {
  border-bottom: 1px solid var(--white-color) !important;
}

.dark .home .shopContainer button {
  color: rgba(228, 226, 226, 0.792);
}

.dark .home .shopContainer .card {
  background-color: rgb(106, 104, 104);
  color: var(--white-color);
}

.dark .home .shopContainer h3 {
  color: rgb(172, 170, 170);
}
.dark .home .addToCart {
  color: rgba(16, 16, 196, 0.549) !important;
}
.dark .home .addToCart[disabled] {
  color:rgba(255, 255, 255, 0.306) !important;
}

/* product */
.dark .product {
  color: var(--white-color);
}

.dark .product img {
  border: 1px solid var(--white-color);
  border-radius: 40px;
  padding: 5px;
}

/* about */
.dark .about p {
  color: var(--white-color);
}

/* contact */
.dark .contact {
  color: var(--white-color);
}

.dark .contact form input {
  background-color: rgba(229, 227, 227, 0.535);
  border-radius: 10px;
  width: 90%;
  position: relative;
  right: 2px;
  color: var(--white-color);
}

/* wishList */
.dark .wishList .product:hover,
.dark .shoppingCart .box:hover,
.dark .totalBox:hover {
  color: var(--white-color);
  background-color: rgb(183, 181, 181) !important;
}

.dark .totalBox {
  background-color: grey;
}

/* check out */
.dark .checkout .cartName {
  /* background-color: grey !important; */
  color: var(--white-color) !important;
}
/* //////////////////////// */
/* red buttons */
/* back ground */
.dark .home .details,
.dark .home .price,
.dark .about button,
.dark .product .firstSection button,
.dark .totalBox .proceed {
  background-color: var(--darkRed-color) !important;
}

/* color*/
.dark .home .heart i,
.dark .product .fieldName,
.dark .product .secondSection .buttons button,
.dark .product .thirdSection h1,
.dark .wishList h1,
.dark .wishList .products .product .delete .close ,
.dark .shoppingCart .address,
.dark .shoppingCart .products .box .delete {
  color: var(--darkRed-color) !important;
}
/* ///////////////////////////////////////////////////// */
/* light mode */
.light {
  background-color: #fff;
}
