.toTopIcon {
  background-color: var(--main-color);
  display: inline-block;
  position: fixed;
  bottom: 3rem;
  right: 0rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 50%;
  color: var(--white-color) !important;
  transition: 300ms;
  z-index: 999;
  font-size: 20px;
}
.toTopIcon:hover {
  background-color: var(--white-color);
  color: var(--main-color) !important;
}

