.loginScreen {
 background-image: url(../../../public/bgc2.jpg);
  background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding-top: 2%;
  text-align: center;
  overflow: hidden ;
}

.loginScreen .box {
  width: fit-content;
  margin: auto !important;
  margin-top: 13% !important;
  background-color: rgba(255, 255, 255, 0.787);
  padding: 40px 50px 50px 50px;
  border-radius: 20px;
  animation: backInLeft;
  animation-duration: 2500ms;
}

.loginScreen .box form .input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.loginScreen .box button {
  position: relative;
  top: 20px;
}
@media (min-width:100px) and (max-width:1200px) {
  .loginScreen{
 
    background-image: url(../../../public/bgc.jpg);
  }
  .loginScreen .box {
      margin-top: 200px !important;
  }
  
}
